.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    /* max-height: 500px; */
    overflow-y: auto;
    padding: 30px;
    padding-left: 35px !important;
}
.modal-footer{
    justify-content: center !important;
}
.modal-header{background-color: #656c9b;}
.modal-title {width: 300px;
height: 21px;
font-family: Roboto;
font-size: 18px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: 0.05px;
color: #fff; padding-left: 19px;}
.modal-footer{padding: 20px; padding-left:0px!important;}


.close{color:#fff}
.form-label{ width: 120px;;
    height: 16px;
    font-family: Roboto;
    font-size: 14.2px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.04px;
    color: #2b2e34;}
.create_btn{width: 150px;height: 35px;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);background-color: #3699ff;color: #fff;margin-left: 35px; }
.cancel_btn{width: 100px;
height: 36px;
border-radius: 4px;
border: solid 1px #dbdbdb;
background-color: #fafafa;}
.extralbl{height: 14px;}
