
.page_body{
    background-color: #ffffff;
    min-height: 750px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.title_lebel{
    /* width: 75px;
    height: 38px; */
    /* margin: 5px 99px 61px 10px; */
    object-fit: contain;
    font-family: Manrope;
    font-size: 28px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.21;
    letter-spacing: normal;
    text-align: left;
    color: #2162c1;
}


.pad-10{
    padding: 10px;
}

.pad-t-10{
    padding-top: 10px;
}

.pad-t-15{
    padding-top: 15px;
}

.pad-l-10{
    padding-left: 10px;
}

.pad-r-10{
    padding-right: 10px;
}

.pad-b-10{
    padding-bottom: 10px;
}



.pad-20{
    padding: 20px;
}

.pad-t-5{
    padding-top: 5px;
}

.pad-l-5{
    padding-left: 5px;
}

.pad-r-5{
    padding-right: 5px;
}

.pad-b-5{
    padding-bottom: 5px;
}

.pad-t-20{
    padding-top: 20px;
}

.pad-40{
    padding: 40px;
}

.pad-t-30{
    padding-top: 30px;
}

.pad-l-20{
    padding-left: 20px;
}

.pad-l-30{
    padding-left: 30px;
}

.pad-r-20{
    padding-right: 20px;
}

.pad-b-20{
    padding-bottom: 20px;
}

.pad-0{
    padding: 0;
}

.marg-r-10{
    margin-right: 10px ;
}

.custom-row{
    /* margin: 0;
    padding: 0; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.mar-L-20{
    margin-left: 20px;
}

.marT-20{
    margin-top: 20px;
}

.marT-10{
    margin-top: 10px;
}

.marT-25{
    margin-top: 25px;
}

.marB-5{
    margin-bottom: 5px;
}

.marL-65{
    margin-left: 65px;
}

.txt-centr{
    text-align: center;
}

.pad-T10{
    padding-top: 10px;
}

select{background-color: rgb(244, 247, 252);}
.pointer {
    cursor: pointer;
}